In [3]:
import os, sys
print("현재 작업 폴더", os.getcwd())
print("현재 폴더 파일/폴더:")
print(os.listdir(".")[:50])

현재 작업 폴더 c:\Users\gram\anaconda3\envs\bmbd\project
현재 폴더 파일/폴더:
['GSE30321_series_matrix.txt']

In [5]:
import pandas as pd
import numpy as np
print(pd.__version__)
print(np.__version__)

2.3.3
2.0.2

In [12]:
import pandas as pd
file = "GSE30321_series_matrix.txt"
raw_data = pd.read_csv(file, sep="\t", comment="!", index_col=0)
print("raw shape:", raw_data.shape)
raw_data.iloc[:5, :]

raw shape: (3592, 295)

,GSM751629,GSM751630,GSM751631,GSM751632,GSM751633,GSM751634,GSM751635,GSM751636,GSM751637,GSM751638,...,GSM751914,GSM751915,GSM751916,GSM751917,GSM751918,GSM751919,GSM751920,GSM751921,GSM751922,GSM751923
ID_REF,,,,,,,,,,,,,,,,,,,,,
AB001516_at,4.495407,4.409780,4.369991,4.339823,4.483833,4.569534,4.678292,4.396043,4.517112,4.463886,...,4.575828,4.553441,4.568800,4.514940,4.261080,4.276096,4.424253,4.351514,4.337254,4.264053
AB003731_f_at,8.642287,8.627308,8.643501,8.308471,8.663096,8.685947,8.606731,8.584452,8.512617,8.712685,...,8.721000,8.662897,8.689523,8.448242,8.906448,8.933934,8.959934,8.887793,8.789370,8.572943
AB003732_f_at,8.793098,8.842475,8.885229,8.331635,8.976496,8.694223,8.628105,8.829569,8.684361,8.853562,...,8.873948,8.768846,8.797435,8.663543,9.048648,9.017313,8.938399,9.037278,8.718769,8.779794
AB004109_at,5.731152,5.645404,5.824079,5.899438,5.791065,5.803290,6.032298,5.940305,5.945695,5.761999,...,5.956144,5.890322,5.908442,5.819757,6.146127,6.112549,6.243749,6.290650,6.118927,6.106361
AB006130_at,4.455842,4.440362,4.446151,4.478316,4.693045,4.665515,4.636012,4.398415,4.501857,4.449594,...,4.801302,4.651601,4.698783,4.722592,4.455393,4.458611,4.310848,4.485897,4.463598,4.532534